<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>footer</title>
</head>
<body>
<footer th:fragment="footer">
  <div class="footer">
    <ul class="footerContainer">
      <li>
        <ul class="footerText1">
          <li>
            <a href="#">
              알흠소개
            </a>
          </li>

          <li>·</li>

          <li>
            <a href="#">
              이용약관
            </a>
          </li>

          <li>·</li>

          <li>
            <a href="#">
              개인정보처리방침
            </a>
          </li>

          <li>·</li>

          <li>
            <a href="#">
              위치정보 이용약관
            </a>
          </li>
        </ul>
      </li>

      <li>
        <ul class="footerText2">
          <li>
              강남지점 1관 : 서울특별시 강남구 테헤란로 146 현익빌딩 3, 4층  |  대표자 : 양효준
          </li>

          <li>
              전화문의 : 1588-5890  |  E-MAIL : sun10220466@gmail.com
          </li>
        </ul>
      </li>

      <li>
        <ul class="footerText3">
          <li>copyright ⓒ 2024 menbosa</li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
</body>
</html>