<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>passwordVerify-senior</title>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"/>
    <!-- css -->
    <link rel="stylesheet" href="/css/passwordVerify.css">
    <!-- footer CSS -->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
  </head>
  <body>
    <header></header>

    <main>
      <div class="passwordVerify-logoImgBox">
        <img src="/img/mypage_alheum_logo.svg" alt="알흠로고" />
      </div>

      <h2>비밀번호 확인</h2>

      <section class="passwordVerify-passwordContainer">
        <form action="/alheum/senUser/checkPassword" method="post" class="passwordVerify-form">
          <input class="passwordVerify-input" type="password" name="passwordCheck" placeholder="비밀번호를 입력해주세요">
          <p class="passwordVerify-p">정보를 안전하게 보호하기 위해 비밀번호를 다시 확인합니다</p>
          <button type="submit" class="passwordVerify-button">확인</button>
        </form>
      </section>
    </main>

    <footer th:replace="~{/basic/footer :: footer}"></footer>
  </body>
</html>