<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.menbosa.mapper.protector.postscript.ImgFileMapper">
    <insert id="insertImgFile" parameterType="ImgFileDTO">
        <selectKey keyProperty="imgFileNum" resultType="Long" order="BEFORE">
            SELECT SEQ_IMG_FILE.nextVal FROM DUAL
        </selectKey>
        INSERT INTO MBS_IMG_FILE(
             IMG_FILE_NUM,
             IMG_FILE_USER,
             IMG_FILE_EXT,
             IMG_FILE_SERVER,
             BOARD_RECOM_NUM
        )
        VALUES(
             #{imgFileNum},
             #{imgFileUser},
             #{imgFileExt},
             #{imgFileServer},
             #{boardRecomNum}
        )
    </insert>

    <delete id="deleteImgFile" parameterType="Long">
        DELETE FROM MBS_IMG_FILE
        WHERE BOARD_RECOM_NUM = #{boardRecomNum}
    </delete>

    <select id="selectImgList" parameterType="Long" resultType="ImgFileDTO">
        SELECT IMG_FILE_NUM, IMG_FILE_USER, IMG_FILE_EXT, IMG_FILE_SERVER, BOARD_RECOM_NUM
        FROM MBS_IMG_FILE
        WHERE BOARD_RECOM_NUM = #{boardRecomNum}
    </select>
</mapper>