<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>protectorLogin</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- login CSS -->
  <link rel="stylesheet" th:href="@{/css/protectorLogin.css}">
  <!-- login JS -->
  <script defer th:src="@{/js/protectorLogin.js}"></script>
  <!-- header CSS -->
  <link rel="stylesheet" th:href="@{/css/headerNonMember.css}">
  <link rel="stylesheet" th:href="@{/css/headerMember.css}">
  <!-- footer CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
  <header th:replace="~{/basic/header-ver1 :: header1}"></header>

  <main>
    <div class="protectorLoginTitle">
      <p>로그인</p>
    </div>
    <div class="protectorLoginCnt">
      <div class="protectorLoginMain">
        <form class="protectorLoginMainCnt" action="" method="post">
          <p class="protectorLoginNum">전화번호</p>
          <input name="proMemPhone" type="text" class="protectorPhoneNum" placeholder="전화번호를 입력해주세요.">
          <p class="protectorLoginPw">비밀번호</p>
          <input name="proMemPassword" type="password" class="protectorPassword" placeholder="비밀번호를 입력해주세요.">
          <div class="protectorLoginBtn">
            <button>로그인</button>
          </div>
          <div class="protectorLogin-subMenu">
            <a th:href="@{/alheum/user/findPassword}">비밀번호 찾기</a>
            <p>|</p>
            <a th:href="@{/alheum/user/join}">회원가입</a>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="~{/basic/footer :: footer}"></footer>
</body>
</html>