<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티-소통글쓰기</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- commnuicateWrite CSS -->
  <link rel="stylesheet" th:href="@{/css/protectorCommunity-communicateWrite.css}">
  <!-- commnuicateWrite JS -->
  <script defer src="/js/protectorCommunity-communicateWrite.js"></script>
  <!-- header CSS -->
  <link rel="stylesheet" th:href="@{/css/headerNonMember.css}">
  <link rel="stylesheet" th:href="@{/css/headerMember.css}">
  <!-- footer CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<header th:replace="~{/basic/header-ver1 :: header1}"></header>

<main>
  <h2>소통</h2>
  <form th:action="@{/alheum/community/commuWrite}"  method="post"  enctype="multipart/form-data">
    <div class="write-title">
      <label for="">제목</label>
      <input type="text" name="boardCommuTitle" id="" required>
    </div>
    <textarea name="boardCommuContents" id="write-content" required></textarea>
    <div class="write-inputFile">
      <span>첨부파일</span>
      <input type="file" id="write-file" name="boardFile">
      <button type="button" onclick="deleteFile(this)">삭제</button>
    </div>
    <div class="write-buttons">
      <a th:href="@{/alheum/community/commuMain}">취소</a>
      <button type="submit">작성완료</button>
    </div>
  </form>
</main>

<footer th:replace="~{/basic/footer :: footer}"></footer>
</body>
</html>