<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>password-find</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- password-find CSS -->
  <link rel="stylesheet" th:href="@{/css/protectorPassword-find.css}">
  <!-- password-find JS -->
  <script defer th:src="@{/js/protectorPassword-find.js}"></script>
  <!-- header CSS -->
  <link rel="stylesheet" th:href="@{/css/headerNonMember.css}">
  <link rel="stylesheet" th:href="@{/css/headerMember.css}">
  <!-- footer CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
  <header th:replace="~{/basic/header-ver1 :: header1}"></header>

  <main>
    <div class="findPassword">
      <p>비밀번호 찾기</p>
    </div>
    <div class="findPasswordCnt">
      <div class="findPasswordMain">
        <p class="findPasswordMainTag">가입한 번호를 입력해주세요.</p>
        <form class="findPasswordForm" action="#">
          <div class="findPassword-phoneNumberCnt">
            <input type="text" class="findPassword-phoneNumber">
            <span>-</span>
            <input type="text" class="findPassword-phoneNumber">
            <span>-</span>
            <input type="text" class="findPassword-phoneNumber">
            <button>인증하기</button>
          </div>
          <input type="text" class="findPassword-inputNumber" placeholder="인증번호를 입력해주세요.">
          <p>인증하기 버튼을 누르면 인증번호를 문자로 보내드립니다.</p>
          <div class="findPassword-submit">
            <button>비밀번호 찾기</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="~{/basic/footer :: footer}"></footer>
</body>
</html>