<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/seniorTest3.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"> 
</head>
<body>
  <main>
    <div class="seniorTest-container">
      <div class="seniorTest-header">
        <a th:href="@{/alheum/senUser/main}"><img th:src="@{/img/senior-alheum_logo.svg}" alt=""></a>
        <h1 class="seniorTest-header-title">인지기능검사</h1>
      </div>
      <p>아래 5개의 과일을 기억해 주세요</p>
      <p>다 기억했다면 다음문항으로 넘어가 문제를 풀어주세요</p>
      <img th:src="@{/img/test3-3.png}" alt="">
      <div class="seniorTest-buttons">
<!--        <div class="seniorTest-button back"><a th:href="@{/alheum/senTest/test3-2-2}">이전문항</a></div>-->
        <div class="seniorTest-button next"><a th:href="@{/alheum/senTest/test3-3-1}">다음문항</a></div>
      </div>
      <div><p>!! 문항을 제대로 작성하지 않을 경우, 결과의 신뢰도가 떨어집니다.</p></div>
    </div>
  </main>
  <footer></footer>
</body>
</html>