<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/seniorPassword-find.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- footer CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
  <main>
    <img th:src="@{/img/seniorBackgroundImg.png}" alt="" class="seniorBackgroundImg">
    <div class="seniorPassword-find-container">
      <div class="seniorPassword-find-logo"><img th:src="@{/img/senior-alheum_logo.svg}" alt=""></div>
      <p>비밀번호 찾기</p>
      <div class="seniorPassword-find-box">
        <p>가입한 전화번호를 입력하시면<br>문자로 비밀번호를 보내드립니다</p>
        <input type="text" name="seniorPassword-find-phonenumber" placeholder="숫자만 입력해주세요 (ex. 01012345678)">
        <button class="seniorPassword-find-sendMessage">메세지 전송</button>
        <a href="./../../templates/senior/seniorLogin.html">뒤로가기</a>
      </div>
    </div>
  </main>
  <footer class="footer" th:replace="~{/basic/footer :: footer}"></footer>
</body>
</html>