<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/seniorTest-start.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- footer CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<main>
  <img th:src="@{/img/seniorBackgroundImg.png}" alt="" class="seniorBackgroundImg">
  <div class="seniorTest-start-container">
    <div class="seniorTest-start-logo"><img th:src="@{/img/senior-alheum_logo.svg}" alt=""></div>
    <p class="seniorTest-start-title">기본 인지기능검사 안내</p>
    <span>
        본 문항은 5문제로 이루어져 있으며,<br>
        시간 내에 정답을 작성하시거나<br>
        알맞은 답을 골라주시면 됩니다.
      </span>
    <a th:href="@{/alheum/senTest/test2-1 (testListNum=${testListNum})}">검사시작하기</a>
    <div class="seniorTest-start-footerText"><p>이 검사의 결과값은 참고용입니다. 전문가와 상담하지 않고 결과를 임의로 해석하거나 처치를 진행하지마세요.</p></div>
  </div>
</main>
<footer class="footer" th:replace="~{/basic/footer :: footer}"></footer>
</body>
</html>